<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RegressionTest</td><td>TestingSubtractionTestCases.TestSubtractionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]<br/></td></tr>
</table>
