<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="679097">  <td>21/05/15 09:37:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestingSubtractionTestCases.Init()[pri:0, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@290579508</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:37:30</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestingSubtractionTestCases.ReInitialise()[pri:0, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]">&gt;&gt;ReInitialise</td> 
<td>&nbsp;</td>  <td>main@290579508</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:37:30</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestingSubtractionTestCases.ReInitialise()[pri:0, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]">&gt;&gt;ReInitialise</td> 
<td>&nbsp;</td>  <td>main@290579508</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:37:30</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestingSubtractionTestCases.Teardown()[pri:0, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]">&lt;&lt;Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@290579508</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:37:30</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSubtractionTestCases.TestSubtractionWith1Positive1NegativeNumbers()[pri:2, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]">TestSubtractionWith1Positive1NegativeNumbers</td> 
  <td>main@290579508</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>21/05/15 09:37:30</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestingSubtractionTestCases.TestSubtractionWithPositiveNumbers()[pri:1, instance:QualityKiosksTraining.QualityKiosksCalculatorAPI.TestingSubtractionTestCases@247d8ae]">TestSubtractionWithPositiveNumbers</td> 
  <td>main@290579508</td>   <td></td> </tr>
</table>
